@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    font-family: 'Poppins', sans-serif;
}

.headerImage {
    width: 230px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    border-radius: 1%;
    max-width: 100%;
    height: auto;
}
