{{ define "main" }}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="jumbotron text-center">
                <img class="headerImage" src="/images/matt.png" alt="Photo of Matthew Zegar"/>
                <h2>Matthew Zegar</h2>
                <p>Computer Science Student at Simon Fraser University</p>
                <i class="fas fa-heart">ll</i>
            </div>
            <br/>
            {{.Content}}
        </div>
    </div>
</div>
{{ end }}
