{{ define "main" }}
<div class="jumbotron text-center">
    <img class="headerImage" src="/images/matt.png" alt="Photo of Matthew Zegar"/>
    <h1>Matthew Zegar</h1>
    <p>Computer Science Student at Simon Fraser University</p>

    <div id="nav-border" class="container">
        <nav id="nav" class="nav justify-content-center">
            {{ range .Site.Menus.main }}
            <a class="nav-link" href="{{ .URL }}">
                {{ if .Pre }}
                {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                {{ $icon }}
                {{ end }}
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
            </a>
            {{ end }}
        </nav>
    </div>
</div>
{{ end }}
